//- div.wrapper
//-   - const upDog = dog.toUpperCase()
//-   p Hello Srivatsa! my dog name is #{upDog}
//-   span#yo Yo It's raining!!
//-   
//- h2 Hello
//-   em How are you ?  

extends layout

//- block header
//-   h2 YO! Srivi

block content
  p Hello 
